<div class="container">
    <h1>Positivity Quotes</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quotes of quotes;let i = index'>
          <div>
            <h4 id="{{ i }}" appBestQuote >{{ quotes.quote }}, {{ quotes.arthur }}, {{ quotes.name }}</h4> 
            <button (click)="toggleDetails(i)" class="btn btn-primary" id="toggle">Toggle Details</button>
          </div>
          <div *ngIf="quotes.showDescription">
            <app-quote-detail [quote]='quotes' (isComplete)="deleteQuote($event,i)"></app-quote-detail>
          </div>
          <div class="quote-votes">
            <button id="up" (click)="upvote(i)" class="btn btn-primary">Upvote</button>
            <button id="down" (click)="downvote(i)" class="btn btn-primary">Downvote</button>
          </div>
        </div>  

      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
  </div>